@model List<Product>
@{
    ViewData["Title"] = ViewBag.CategoryName;
}

<h2><span></span></h2>

<div class="container">
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-3">
                <div class="card mb-4">
                    <img src="@product.ImageUrl" class="card-img-top" style="height: 150px; width: 150px; object-fit: cover;" alt="@product.ProductName">
                    <div class="card-body">
                        <h6 class="card-title">@product.ProductName</h6>
                        <p class="card-text"> Rs: @product.Price</p>
                        <p class="card-text">Offered Price Rs: @product.discountRate</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
